/* Header CSS Styles */

.header {
  height: 64px;
  border-bottom: 1px solid #e5e6e8;
  padding-left: 20px;
  padding-right: 20px;
}

.button-container {
  height: 64px;
  width: 100%;
}

.wrapper {
  float: right;
  margin: 0 5px 0 5px;
  display: flex;
  align-items: center;
  height: 100%;
}

button {
  height: 40px;
  border: none;
  padding: 0 10px 0 10px;
  border-radius: 15px;
  /* font style */
  font-size: 16px;
  font-weight: 700;
}

button:hover {
  background-color: #e5e6e8;
}